[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.2"
dependency-injector = "==4.40.0"
psutil = "==5.9.5"

[dev-packages]

[requires]
python_version = "3.10"
